/* Estilos generales */

footer {
  background-color: var(--color13);
  color: var(--color2);
  padding: 3rem 30px; 
  scroll-margin-top: 100px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.grid-footer {
  text-align: center;
}

footer h3 {
  font-size: var(--font-lg);
    margin: 20px 0px;
    text-align: center;
}

footer p {
  font-size: var(--font-xs);
  margin-bottom: 40px;
  line-height: 1.5rem;
}

.footer-contacto {
  margin-bottom: 20px;
}

.footer-contacto .contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.footer-contacto .contacto span {
  margin-right: 10px;
}


.derechos {
  text-align: center;
  border-top: 1px solid var(--color7); 
  padding-top: 1rem; 
  margin-top: 2rem; 
  font-size: 0.8rem;
}

.derechos p {
  color: var(--color2);
  font-size: var(--font-xs);
  text-align: center;
}

.derechos a {
  color: var(--color2);
  text-decoration: none;
  font-size: var(--font-xs);
}

.derechos a:hover {
  text-decoration: underline;
}

.footer-menu ul li a, 
.footer-contacto a, 
.redes a {
  color: var(--color2);
  text-decoration: none;
}

.footer-menu ul li a:hover, 
.footer-contacto a:hover, 
.redes a:hover {
  text-decoration: underline;
}

.icon-whatsapp,
.icon-envelope,
.icon-instagram,
.icon-linkedin {
  color: var(--color2);
    font-size: var(--font-lg);
  margin-right: 10px;
}


@media (min-width: 768px) {

footer h3 {
  font-size: var(--font-lg);
}
  
footer p {
  font-size: var(--font-md);
  line-height: 1.8rem;
}

.derechos {
 font-size: var(--font-md);
}

.derechos p {
font-size: var(--font-md);
}

.derechos a {
  font-size: var(--font-md);
}

.contacto-a {
  font-size: var(--font-md);
}

.icon-whatsapp,
.icon-envelope,
.icon-instagram,
.icon-linkedin {
  font-size: 1.8rem;
}

}


@media (min-width: 1024px) {

  .grid-footer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
  }

  .footer-contacto,
  .redes {
    flex: 1;
  }

  .redes {
    border-left: 1px solid var(--color2);
    padding-left: 2rem;
  }

  footer h3 {
    margin: 20px 0;
  }

  footer p {
    padding: 0 50px;
    margin-bottom: 30px;
  }

  .footer-contacto {
    margin-bottom: 10px;
  }
   
  .footer-contacto .contacto {
    justify-content: center;
    padding: 10px 0;
  }

  .derechos p {
    color: var(--color2);
    font-size: var(--font-md);
    text-align: center;
  }
  
  .derechos a {
    font-size: 1.1rem;
  }
  
  .derechos a:hover {
    text-decoration: underline;
  }
 
  
  .icon-whatsapp,
  .icon-envelope,
  .icon-instagram,
  .icon-linkedin {
    font-size: 1.8rem;
  }
  

}


