/*Seccion inicio*/

.section-inicio {
  background-image: url("../img/PapelTexturaFondo.svg");
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  text-align: center;
  scroll-margin-top: 80px;
}

/* .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
} */

.imagen-section-inicio {
  width: 100%;
  max-width: 250px;
  margin-bottom: 20px;
}

.section-inicio-title {
  font-size: 1.5rem;
  font-weight: normal;
  color: var(--color3);
}

.section-inicio-title span {
  font-weight: 700;
  color: var(--color1);
}

.main-section-inicio-content h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 5px 0;
}

.main-section-inicio-content h2 span {
  color: var(--color1); 
}

.section-inicio-description {
  font-size: 1rem;
  color: var(--color4);
  margin: 32px 0px;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0px;
}

.buttons img {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {

  }

}


@media screen and (min-width: 1024px) {

  }
}
