/*Service Seccion*/

.services-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-grid {
background-color: var(--color1);
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 20px;
width: 90%;
padding: 20px;
}

.service-item {
background-color: var(--color2);
padding: 10px;
text-align: center;
justify-content: center;
border-radius: 10px;
height: auto;
}

.service-item img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.service-item h3 {
  font-size: 0.8rem;
  margin-top: 10px;
  color: var(--color4);
}

.text-section {
display: flex;
flex-direction: column; 
align-items: center; 
padding-left: 0;
width: 100%;
text-align: center;
padding: 40px 30px;
}

.text-section h1 {
font-size: 2.5rem;
font-weight: 700;
line-height: 2.5rem;
margin-bottom: 2rem;
text-align: center;
color: var(--color3);
}

.text-section p {
font-size: 1rem;
text-align: justify;
font-weight: 300;
margin-bottom: 2rem;
line-height: 1.5;
color: var(--color4);
}

.btn {
  background-color: var(--color1);
  color: var(--color2);
  margin-top: 20px;
}

.btn:hover {
background-color: var(--color6);
}

@media screen and (min-width: 768px) {

.text-section h1 {
  font-size: 2.8rem;
}

.text-section p {
  font-size: 1.1rem;
  line-height: 1.8;
}

.service-item img {
  width: 70px;
  height: 70px;
}

.service-item h3 {
  font-size: 1rem;
}
}


@media screen and (min-width: 1024px) {
/*Service Seccion*/

.services-section {
  flex-direction: row;
  gap: 30px; 
  padding: 40px 15px;
  max-width: 1200px; 
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.services-grid,
.text-section {
  flex-grow: 1; 
}

.services-grid {
grid-template-columns: repeat(3, 1fr);
max-width: 800px;
padding: 20px;
box-sizing: border-box;
}

.service-item {
padding: 20px;
}

.service-item img {
  width: 80px;
  height: 80px;
}

.service-item h3 {
  font-size: 1.1rem;
}

.text-section {
align-items: end; 
padding-left: 0;
padding: 25px 15px;
box-sizing: border-box;
}

.text-section h1 {
  font-size: 3rem;
  line-height: 3.2rem;
  text-align: end;
}

.text-section p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 0rem;
}

}