.section-sobre-mi {
  background-color: var(--color11);
  text-align: center;
  padding: 4.5rem 2rem 4rem;
  color: var(--color4);
  gap: 48px;
  background-size: cover;
  scroll-margin-top: 100px;
}

.info {
  margin-bottom: 60px;
}

.section-sobre-mi h1 {
  font-size: var(--font-lg);
  margin: 2rem 0px 4rem;
  color: var(--color3);
  font-weight: 700;
}

.section-sobre-mi p {
  font-size: var(--font-sm);
  text-align: justify;
  line-height: 1.5rem;
}

@media screen and (min-width: 768px) {

  .section-sobre-mi .info h1 {
    font-size: var(--font-xl);
  }

  .section-sobre-mi .info p {
    font-size: var(--font-md);
    line-height: 1.8rem;
  }

}

@media screen and (min-width: 1024px) {
  .info,
  .container-formacion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 350px;
    max-width: 1200px;
    margin: auto;
  }

  .section-sobre-mi .info h1 {
    font-size: var(--font-xxl);
  }

  .section-sobre-mi .info p {
    line-height: 1.8rem;
    max-width: 600px;
  }
}
