.section-sobre-mi {
  background-image: url("../img/PapelTexturaFondo.svg");
  text-align: center;
  padding: 20px;
  color: var(--color4);
  gap: 48px;
}

.info {
  margin-bottom: 60px;
}

.section-sobre-mi h1 {
  font-size: 1.75rem;
  margin: 35px 0px;
  color: var(--color3);
  font-weight: 700;
}

.section-sobre-mi p {
  font-size: 1rem;
  /* margin-bottom: 40px; */
  text-align: justify;
  line-height: 1.5rem
}

.container-formacion {
  margin: 40px 0px;
}

.formacion {
  display: flex;
  flex-direction:row;
  align-items: center;
  gap: 25px;
  margin-bottom: 20px ;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
  text-align: left;
}

.texto-formacion p {
  font-size: 0.9rem;
  font-weight: 400;
}